{% extends 'base.html.twig' %}

{% block title %}Me contacter{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div>
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}
    </div>
    <div class="row justify-content-center">
        {{ form_row(form.submit) }}
        {#        <button class="btn btn-primary btn-round">{{ button_label|default('Sauvegarder') }}</button>#}
    </div>
    {{ form_end(form) }}
{% endblock %}