{{ form_start(form) }}
    {{ form_widget(form.active, {
        'attr': {
            'class': 'center',
            'disabled' : app.request.get('_route') != 'category_edit'
        }
    }) }}
    {{ form_widget(form, {'attr': {'class': 'center'}}) }}
        {% if form.vars.value.imageName %}
            <img class="category-img" src="/images/{{ form.vars.value.imageName }}">
        {% endif %}
<div class="row justify-content-between">
    <a class="btn btn-round btn-outline-dark" href="{{ path('category_index') }}">Retour à la liste</a>
    {% if category.id and app.request.get('_route') != 'category_edit' %}
        {{ include('admin/category/_delete_form.html.twig') }}
    {% endif %}
    <button class="btn btn-primary btn-round">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}
