{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <a class="m-2 btn-round btn btn-primary" href="{{ path('category_new') }}">
            <i class="fas fa-plus-circle"></i> <span class="d-lg-inline-block d-xs-none d-sm-none d-md-none">Ajouter</span></a>
    </div>
    <table class="mt-2 table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td><img class="category-mini" src="/images/{{ category.imageName }}"></td>
                <td class="row justify-content-around">
                    <a href="{{ path('category_show', {'id': category.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
