{{ form_start(form) }}
<div class="row justify-content-around">
    {{ form_row(form.name) }}
    {{ form_row(form.reference) }}
    {{ form_row(form.price) }}
    <span class="{% if not article.id %}d-none{% endif %}">{{ form_row(form.sold) }}</span>
</div>
{{ form_row(form.description) }}
{{ form_row(form.categories) }}
{{ form_row(form.imageFile1) }}
{{ form_row(form.imageFile2) }}
{{ form_row(form.imageFile3) }}
{{ form_row(form.imageFile4) }}
<div class="row">
    <div class="col-6">
        {% if form.vars.value.imageName1 %}
            <img class="article-img d-block" src="/images/{{ form.vars.value.imageName1 }}">
        {% endif %}
    </div>
    <div class="col-6">
        {% if form.vars.value.imageName2 %}
            <img class="article-img d-block" src="/images/{{ form.vars.value.imageName2 }}">
        {% endif %}
    </div>
    <div class="col-6">
        {% if form.vars.value.imageName3 %}
            <img class="article-img d-block" src="/images/{{ form.vars.value.imageName3 }}">
        {% endif %}
    </div>
    <div class="col-6">
        {% if form.vars.value.imageName4 %}
            <img class="article-img d-block" src="/images/{{ form.vars.value.imageName4 }}">
        {% endif %}
    </div>
</div>
<div class="row justify-content-between">
    <a class="btn btn-round btn-outline-dark" href="{{ path('article_index') }}">Retour à la liste</a>
    {% if article.id and app.request.get('_route') != 'article_edit' %}
        {{ include('admin/article/_delete_form.html.twig') }}
    {% endif %}
    <button class="btn btn-primary btn-round">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}
